<!DOCTYPE html>
<html>
<head>
  <title>Firehose NYC</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Request parameters inspector
<%= params.inspect %>
-->
<nav>
	<div class="navbar navbar-inverse">
	    <div class="navbar-inner">
		    <div class="container">
		     
		    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    </a>
		     
		    <!-- Be sure to leave the brand out there if you want it shown -->
		    <%= link_to 'Firehose NYC', root_path, :class => "brand" %> 
		    <!-- Everything you want hidden at 940px or less, place within here -->
		    <div class="nav-collapse collapse">

		    <ul class="nav">
		    	<li>
		    		<%= link_to 'Pictures App', pics_path %>
		    	</li>

		    	<!-- Display upload link only from Picture app -->
		    	<% if params[:controller].to_s == 'pics' %>
			    	<li>
			    		<%= link_to raw('<i class="icon-plus"></i> Picture'), new_pic_path %>
			    	</li>
		    	<% end %>
		    	<li>
		    		<%= link_to 'My Company', 'http://www.akamai.com', :target => "_new" , :confirm => "Leaving already?" %>
		    	</li>
			</ul>

			<ul class="nav pull-right">
				<% if user_signed_in? %>
					<li>
						<%= link_to current_user.email, edit_user_registration_path %>
					</li>
					<li>
						<%= link_to 'Sign Out', destroy_user_session_path, :method => 'delete' %>
					</li>
				<% else %>
					<li>
						<%= link_to 'Sign Up', new_user_registration_path %>
					</li>
					<li>
						<%= link_to 'Sign In', new_user_session_path %>
					</li>
				<% end %>
			</ul>

		    </div>
		     
		    </div>
	    </div>
</div>
</nav>

<!-- Devise notice and alert section -->
<% if notice.present? %>
	<p class="notice label label-info pull-right"><%= notice %></p>
<% end %>
<% if alert.present? %>
	<p class="alert"><%= alert %></p>
<% end %>	

<%= yield %>

</body>
</html>
